
<section class="section1">
    <h1 class="text-center fw-bolder py-4">About</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="info px-5">
                    <h2 class="fw-bolder">who are we?</h2>
                    <p class="fw-bold">We are a company that aims to facilitate dealing with waste, preserve the environment and take advantage of neglected things that do not benefit and constitute obstacles without human intervention.
                        As we prementioned the general objective of our system, we will re mention it in some detail.
                        We strive to achieve some goals:
                        First: 
                        -Timely and proper disposal of waste.
                        -Prevent the dumping of waste and another problem may be produced.
                        Second: 
                        No overflowing of garbage as whenever the bins is filled to a certain critical amount, the garbage collection truck nearness to that point will be notified for collecting that waste.
                        Third: 
                        Economic utilization by:
                        -Facilitating the recycling of waste 
                         by classifying the waste to two types(wet and dry). 
                        -Weighting every type and recording its weight on the website.
                        -Possibility to sell and buy on the website.
                        -Extent last but not least: 
                        The beauty of entrance and roads be restored.  
                    </p>
                </div> 
            </div>
            <div class="col-md-4 px-4">
                <div >
                    <img src="../../assets/images/who.jpg" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>    
</section>

<section>
    <h2 class="text-center pt-5 fw-bolder">our services</h2>
    <div class="container d-flex">
        <div class="row">
        <div class="col-md-4 p-5">
            <div>
                <img src="../../assets/images/collect.png" class="w-100 p-5 ">
            </div>
            <div class="class1 text-center ">
                <h3 class="fw-bolder">collect</h3>
                <p class="fw-bold"> is a part of the process of waste management. It is the transfer of solid waste from the point of use and disposal to the point of treatment or landfill. Waste collection also includes the curbside collection of recyclable materials that technically are not waste, as part of a municipal landfill diversion program.</p>
            </div>

        </div>
        <div class="col-md-4 p-5">
            <div>
                <img src="../../assets/images/3.jpg" class="w-100 p-5 ">
            </div>
            <div class="class1 text-center pt-4">
                <h3 class="fw-bolder">classification</h3>
                <p class="fw-bold">Waste classification is the process by which waste is separated into its different types. Classification can be done manually at home and collected through curbside collection methods, or automatically through biomechanical or other processing systems.
                    Here, they are classified without human intervention into two types: wet and dry</p>
            </div>

        </div>
        <div class="col-md-4 p-5">
            <div class="">
                <img src="../../assets/images/distribution.jpg" class="w-100 p-5 ">
            </div>
            <div class="class1 text-center ">
                <h3 class="fw-bolder">distribution</h3>
                <p class="fw-bold">Distribution is the process of making a product or service available for use or consumption by a consumer or business user, through the use of direct means or by using indirect means through intermediaries.</p>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div class="container ">
                <h2 class=" p-3 fw-bolder">our location</h2>
                <div class="mapouter my-4"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embed map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
    </div>
</section>
<app-footer></app-footer>
