.logo
{
    border-radius: 50%;
}
.navbar
{
    background-color: rgb(87, 233, 167);
}
button:hover
{
    color: rgb(91, 225, 171);
}
.activeComponent
{
    background-color: rgb(236, 232, 232);
}
.font
{
    font-weight: bold;
}