<section>
    <div class="address text-center p-4">
        <h2 class="fw-bolder">our products</h2>
        <p class="fw-bold">we classificate products to two types: wet and dry</p>
    </div>
    <div class="container d-flex">
        <div class="row">
            <div class="col-md-6 px-5 py-2">
                <div class="text-center">
                    <img src="../../assets/images/wet.jpeg" alt="">
                </div>
                <div class="">
                    <h3>deffinition</h3>
                    <p>Wet Waste - Refers to all items that are organic like food items, soiled food wrappers,
                         hygiene products, yard waste, tissues and paper towels, as well as any other soiled
                          item that would contaminate the recyclables.</p>
                    <h3>effect on the environment</h3>
                    <p>Disposing of them in the wrong way has several effects on the environment,
                         including: It leads to high cost and occupying large areas without benefiting from it,
                          and it has medical damage as well.
                    </p>
                    <h3>benefits</h3>
                    <p>It is not recycled but used in the production of feed</p>
                </div>
            </div>
        <div class="col-md-6 px-5 py-2">
            <div class="text-center">
                <img src="../../assets/images/dry.jpeg" alt="" >
            </div>
            <div class="">
                <h3>deffinition</h3>
                <p>Dry Waste - Refers to all items that are not considered wet/soiled items.
                     This includes both recyclable and non-recyclable materials.
                      Dry waste includes items such as bottles,
                      cans, clothing, plastic, wood, glass, metals and paper.</p>
                <h3>effect on the environment</h3>
                <p>Disposing of them in the wrong way has several effects on the environment, including:
                     It leads to high cost and occupying large areas without benefiting from it,
                      and it has medical damage as well.</p>
                <h3>benefits</h3>
                <p>It is recycled and new products are made from it as raw materials used in industries</p>
            </div>
        </div>
    </div>
</div>

</section>
<div class=" p-3 text-center">

        <button routerLink="/form" class="btn btn-success btn-lg " type="submit">buy now</button>
    </div>

<app-footer></app-footer>